doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block title
      title  Foundation | 6.2.0
    //- Compiled Sass (Foundation 6.2 / Motion Ui / Custom)
    link(rel='stylesheet', href='css/app.css')
    //- Animate. Required for WOW.js
    //- Docs: https://github.com/daneden/animate.css
    link(rel='stylesheet', href='css/animate.css')
    //- Font Awesome 
    //- How to Use: https://fortawesome.github.io/Font-Awesome/examples/
    //- Cheatsheet: https://fortawesome.github.io/Font-Awesome/cheatsheet/
    link(rel='stylesheet', href='css/font-awesome.min.css')
    //- Owl Carousel 2 Assets
    link(rel='stylesheet', href='css/owl-slider-2/owl.carousel.min.css')
    link(rel='stylesheet', href='css/owl-slider-2/owl.theme.default.min.css')
    link(rel='stylesheet', href='css/owl-slider-2/assets/ajax-loader.gif')
    link(rel='stylesheet', href='css/owl-slider-2/assets/owl.video.play.png')
    //- Jquery Library
    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    //- Smooth Scrolling Modify settings in app.js
    //- Source: http://www.jqueryscript.net/animation/jQuery-Plugin-For-Smooth-Mouse-Scrolling-scrollSpeed.html
    script(src='/js/core/scrollSpeed.js')
