//- JQuary is in the head for the benefit of scrollSpeed.js
//- Detects input method between touch, mouse, keyboard, screenreader for the benefit of Foundation 6.
script(src='js/core/what-input.min.js')
//- Foundation Essential
//- Docs: http://foundation.zurb.com/sites/docs/
script(src='js/core/foundation.min.js')
//- OwlCarousel
//- Docs: http://www.owlcarousel.owlgraphic.com/docs/started-welcome.html
script(src='js/core/owl-slider-2/owl.carousel.min.js')
//- Pixel Cog's Scroll-Induced Parallax See: 
//- Docs: http://pixelcog.github.io/parallax.js/
script(src='js/core/scroll-parallax.min.js')
//- Matthew Wagerfield's Mouse and mobile tilt Parallax See: http://matthew.wagerfield.com/parallax/
//- Docs: https://github.com/wagerfield/parallax
script(src='js/core/mouse-parallax/mouse-parallax.min.js')
//- wow.js
//- Docs: http://mynameismatthieu.com/WOW/docs.html
script(src='js/wow.js')


//- Run Foundation Javascript
script(src='js/app.js')
