#animatedModal10.reveal(data-reveal='', data-close-on-click='true', data-animation-in='spin-in', data-animation-out='spin-out')
  h1 Was I spinning? It must have worked.
  p.lead
    | There are many options for animating modals, check out the Motion UI library to see them all
  button.close-button(data-close='', aria-label='Close reveal', type='button')
    span(aria-hidden='true') &times;
